<div class="container text-light mt-3 mb-1 root">
  <div class="1">
    <h4>Subham Bhattacharya</h4>
    <div class="btmBar mb-3"></div>
    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
      the
      industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has survived not only five centuries, but also the
      leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
      1960s
      with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
      desktop
      publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  </div>
  <div class="2">
    <h4>Education</h4>
    <div class="btmBar mb-3"></div>
    <div class="row">
      <div class="col-md-6 mb-2">
        <div class="eduDiv d-flex justify-content-around align-items-center">
          <div class="logo">
            <img src="../../../assets/TPI.jpg">
          </div>
          <div class="details">
            <p class="mt-3">Technique polytechnic Institutre</p>
            <p>Engineering ( DCST )</p>
            <p class="font-weight-bold">( 2017-2020 )</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="eduDiv d-flex justify-content-around align-items-center">
          <div class="logo">
            <img src="../../../assets/vmi.png">
          </div>
          <div class="details">
            <p class="mt-3">Memari VM Institution UNIT 1</p>
            <p>10th Standard</p>
            <p class="font-weight-bold">( 2016 )</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
