<div class="root">

  <div class="main-content">

    <div class="container">

      <div class="projects-grid mt-3">

        <ng-container *ngFor="let project of projects">

          <div class="project">
            <div class="text-content">
              <p class="font-weight-bold pj-title mb-2">{{project.title}}</p>
              <p class="pj-details">{{project.description}} </p>
            </div>
            <a class="details-btn d-flex  align-items-center justify-content-center" target="blank"
              [href]="project.github">
              <i class="fab fa-github mr-2"></i>
              DETAILS
            </a>
            <i class="fas fa-bookmark bookmar-icon"></i>
          </div>

        </ng-container>

      </div>
    </div>

  </div>


</div>
