<button mat-mini-fab class="menuBtn" [ngClass]="{'shownBtn': showmTop}" (click)="showTop()">
  <mat-icon>{{showmTop?'arrow_upward' :'menu'}}</mat-icon>
</button>

<div class=" container text-light m-auto text-center m-top pb-2" [ngClass]="{'show': showmTop }">
  <img src="../assets/keneki.jpg" class="profile mb-3 mt-3">
  <p>Hello my name is</p>
  <h4>Subham Bhattacharya</h4>
</div>

<div class="container text-light text-center routings mt-4 mb m-middle">
  <ng-container *ngFor="let rt of RouteAr">
    <i class={{rt.icn}} (click)="changeRoute(rt.click,rt.route)" matTooltip={{rt.click.toUpperCase()}}
      matTooltipPosition="below" [ngClass]="{'active':currentRouteAddress==rt.route}"></i>
  </ng-container>
</div>
<div class="sideSocialBar text-center" [ngClass]="{'showSocialBtn': openSocialBtn}">
  <button class="open-socialbtn text-center" (click)="openSocialBtnContainer()">
    <mat-icon class="ml-2">{{openSocialBtn ? 'arrow_forward_ios' : 'arrow_back_ios'}}</mat-icon>
  </button>
  <i class="fa fa-facebook-square fa-social"></i>
  <i class="fa fa-github fa-social"></i>
  <i class="fa fa-envelope fa-social"></i>
</div>

<div class="active-route-name">
  <div class="inner text-center">
    <h4 class="text-light activated-route mt-4">{{activatedRoute.toUpperCase() }}</h4>
    <div class="route-btmBar"></div>
  </div>
</div>

<div class="router-container" [@routeAnimation]="getDepth(myOutlet)" (click)="showTopOutside()">
  <router-outlet #myOutlet="outlet"></router-outlet>
</div>

<div class="message text-center text-light" [ngClass]="{'shown': hideAlert}">
  <p>This site is still under development it is Opensource as well if you find a bug feel free to report here</p>
  <a href="https://github.com/SubxX/PortFolio" target="_blank">Github</a>
</div>
