.profile{
  width:140px;
  height:140px;
  border-radius: 50%;
  border:3px solid #fff;
  padding: 5px;
}
.m-top{
  p{
    margin:0;
    margin-bottom: 7px;
    padding: 0;
  }
}
.fa{
	margin:5px 35px;
	font-size: 25px;
	cursor: pointer;
  transition: 0.4s ease;
  outline: none;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
}
.active{
	color:#069488 !important;
  transform:translateY(-5px);
  border-color:#069488;
}
.fa:hover{
  color:#069488 !important;
	color:rgba(255, 255, 255, 0.52);
	transform:translateY(-5px);
}
.activated-route{
	letter-spacing: 0.4rem;
	margin-bottom: 10px;
}
.route-btmBar{
	width:20%;
	height:3px;
	background: #069488;
	margin:auto;
	margin-top: 10px;
	position: relative;
}
.router-container{
  overflow-x: hidden;
  position: relative !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.menuBtn{
  position: fixed;
  top:6px;
  left:7px;
  z-index: 12;
  display: none;
}
@media only screen and (max-width: 600px) {
  .menuBtn{
    display: block;
    outline:none;
  }
  .m-top {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    background-color:#069488;/*1A1D22*/
    z-index: 11;
    border-radius: 0 0 5px 5px;
  }
  .show{
    transform: translateY(0%);
  }
  .m-middle{
    position: fixed;
    bottom: 0;
    left:0;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    padding-top: 7px;
    border-radius: 5px  5px 0 0;
  }
  .active-route-name{
    transform: translateY(-15px);
    background: rgb(0, 0, 0);
    padding-top: 1px;
    position: fixed;
    width:100%;
    z-index: 1;
  }
}
