@import "./app/shared/theme.scss";
* {
  box-sizing: border-box !important;
}
body {
  background-color:$body-background;
  overflow-x: hidden;
}
.btmBar {
  height: 3px;
  width: 10%;
  background: $dark-primary;
  margin-top: 10px;
}
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
